.work-page {
  flex-direction: column;
  justify-content: flex-start;
  flex: 1;
  width: 100%;
  background-color:rgba(251,251,251,1);
  .top {
    padding: 15px 20px;
    flex-direction: column;
    .title {
      flex: 1;
      text-align: center;
      font-size:29px;
      font-weight:400;
      color:#ffffff;
      margin-right: -86px;
    }
  }
  .header {
    padding: 15px 20px;
    position: fixed;
    top: 0px;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    border-bottom-width: 1px;
    border-bottom-color: rgba(229,229,229,1);
    background-color:rgba(153,153,153,1);
    .back {
      // display: none;
      flex: 1;
      > image {
        width:29px;
        height:29px;
      }
    }
    .title {
      flex: 1;
      text-align: center;
      font-size:29px;
      font-weight:400;
      color:#ffffff;
      margin-right: -86px;
    }
    .histoty {
      text-align: right;
      flex: 1;
      font-size:24px;
      font-weight:400;
      color:#000000;
      line-height:29px;
    }
  }
  .xui-input-round {
    border: 1px solid #cccccc;
    border-radius: 10px;
    padding: 20px 30px;
    background-color: transparent;
    height: 80px;
    font-size: 30px;
  }
  .work-list-page {
    margin-top: 70px;
    // background-color:rgba(251,251,251,1);
    background-color: #ffffff;
  }
}

.flex-phone {
  position: fiexd;
  bottom: 130px;
  right: 20px;
  height:51px;
  background-color:rgba(98,96,96,1);
  border-radius: 26px;
  justify-content: center;
  align-items: center;
  > image {

  }
  .phone {
    height:20px;
    font-size:20px;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:rgba(255,255,255,1);
    line-height:20px;
    padding-left: 6px;
  }
}

.fixed-container {
  height:82px;
  position: fixed;
  bottom: 0;
  background-color:rgba(255,255,255,1);
  border-top-width: 2px;
  border-top-color: rgba(229,229,229,1);
  .btn {
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color:rgba(142,41,39,1);
    font-size:31px;
    font-weight:400;
    color:rgba(255,255,255,1);
    line-height:43px;
  }
}
  